@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
	font-family: 'MerryChristmas';
	src: url('/fonts/MerryChristmasFlake.woff2');
	font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.wavy {
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-color: #D5002C;
}

:root {
	--background-color: #0E1518;
	--background-image: url('https://img.eartharoid.me/insecure/pr:1080p/plain/s3://eartharoid/christmas-countdown/bg/default.jpg@webp');
}

body {
	background-color: var(--background-color);
}

body:before {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: var(--background-image) no-repeat center center fixed;
	background-size: cover;
	z-index: -1;
	filter: blur(7.5px) brightness(75%);
	opacity: 0.9;
}

.font-christmas {
	font-family: 'MerryChristmas', sans-serif;
}

.font-number {
	font-family: 'Pacifico', cursive;
}

/* .card-bg {
	background: var(--url) no-repeat;
	background-position: 50%;
	background-size: cover;
} */

.card-bg {
	position: relative;
	padding: 5%;
	box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.8);
}

.card-bg::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: var(--url);
	background-position: 50%;
	background-size: cover;
	background-clip: border-box !important;
	border-radius: 0.5rem;
	filter: brightness(50%);
	-moz-filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-o-filter: brightness(50%);
}

.card-bg .inner {
	position: relative;
	text-align: center;
	text-shadow: 3px 3px 10px black;
}

::-webkit-scrollbar {
	width: 10px;
	cursor: pointer !important;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0);
	cursor: pointer !important;
}

::-webkit-scrollbar-track:hover {
	background: rgba(255, 255, 255, 0.05);
	cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer !important;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.6);
	cursor: pointer !important;
}

.text-shadow {
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
}

.text-shadow-md {
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
	text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
	text-shadow: none;
}

.prose li::before {
	color: white !important;
}

table {
	overflow: scroll;
}